{% extends 'main/base.html'%}

{% block title %}
О школе
{% endblock %}

{% block content %}
    <h3>1. Основные сведения</h3>
    <br><br>Муниципальное автономное общеобразовательное учреждение
    <br><p style="font-weight: bold; color: red;">"Средняя общеобразовательная школа №2 п. Энергетик"</p>
    <br>Дата создания: 1974 год.   История школы
    <br>
    <br>Вид: средняя общеобразовательная школа.
    <br>Язык образования: русский язык.
    <br>Организационно-правовая форма: муниципальное автономное общеобразовательное учреждение.
    <br>Адрес: 462803, Оренбургская обл., Новоорский район, п. Энергетик, ул. Центральная д. 65
    <br>Email: energ2007@mail.ru
    <br>Тел. (35363) 4-33-94
    <br>Факс.(35363) 4-33-94
    <br>Директор школы - Иванова Елена Викторовна
    <br>
    <br>Время работы:
    <br>понедельник - пятница с 8.00 до 16.00
    <br>прием по личным вопросам - понедельник с 15.00 до 16.00
    <br>
    <br>                                            пятница с 15.00 до 16.00
    <br>
    <br>Социальные сети:
    <br><a href="https://www.instagram.com/energ2007/" target="_blank">https://www.instagram.com/energ2007/</a>
    <h3>2. Образование</h3>
    <br>В МАОУ СОШ №2 п. Энергетик осуществляется образовательная деятельность по образовательным
    <br>программам начального общего, основного общего и (или) среднего общего образования.
    <br>Уровень образования
    <ol>
      <li>I уровень (начальное общее образование) - 1-4 классы</li>
      <li>II уровень (основное общее образование) - 5-9 классы</li>
      <li>III уровень (среднее образование) - 10-11 классы</li>
    </ol>
    <br>Форма обучения: очная
    <br>Нормативный срок обучения:      начальное общее образование - 4 года
    <br>                                                        основное общее образование - 5 лет
    <br>                                                        среднее образование - 2 года
    <br>
    <br>Срок действия государственной аккредитации: до 9 июня 2024 года
{% endblock %}